<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266373448926-md80ndo3fibanifq7tdmg0u0siotlet6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266373448926-md80ndo3fibanifq7tdmg0u0siotlet6</string>
	<key>API_KEY</key>
	<string>AIzaSyBJYlAhCyZXa1QIuP2y3AhchH2WJJVLzns</string>
	<key>GCM_SENDER_ID</key>
	<string>266373448926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kineticsegypt.reviewThat</string>
	<key>PROJECT_ID</key>
	<string>reviewthat-ad3eb</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewthat-ad3eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266373448926:ios:cad7e774e9edbecf</string>
	<key>DATABASE_URL</key>
	<string>https://reviewthat-ad3eb.firebaseio.com</string>
</dict>
</plist>